#! /bin/bash

# system
alias ls='ls --color=auto'
alias ll='ls -ahl'
alias l='ll'

alias brc='source ~/.bashrc'
alias grep='grep --color=auto'

# git
alias gs='git status'
alias gd='git diff'
alias gc='git commit'

# apps
alias v='vim'
alias vi='vim'

# random
alias ccat='bat'
alias pping='prettyping'
